@{
    ViewData["Title"] = "About DiaryApp";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<blockquote class="blockquote">
    <p class="mb-0">A goal is a dream with a deadline.</p>
    <footer class="blockquote-footer">Napoleon Hill </footer>
</blockquote>



<p>This DiaryApp helps you to achieve your goals.</p>
